body {
    margin: 0;
    padding: 0;
    height: 100vh;
    
}

.water {
    background: linear-gradient(
        #309f9b,
        #106c72
        );
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    cursor: url('Images/bubbles.png'), auto;
}

.sun-rays {
    position: absolute;
    top: -220vh;
    left: -50vw;
    height: 400vh;
    width: 200vw;
    background: conic-gradient(
        from 0deg, 
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent
    );
    animation: waves 10s infinite alternate;
}

input {
    display: none;
}

@keyframes waves {
    0% {
        transform: rotate(-4deg);
    }
    100% {
        transform: rotate(4deg);
    }
}

.fish{
    position: absolute;
    width: 100vw;
    height: 20vh;
    animation: swimandflip 25s forwards infinite linear;
    cursor: url('Images/feed.png'), auto;
}

#fish-1{
    width: 120vw;
    top: 20%;
    left: 100px;
    background: url('Images/fish-1.png') no-repeat;
    background-size: contain; 
}

#fish-2{
    animation-play-state: paused;
    top: 35%;
    left: 100px;
    background: url('Images/fish-2.png') no-repeat;
    background-size: contain; 
}

#fish-3{
    top: 40%;
    left: 100px;
    background: url('Images/fish-3.png') no-repeat;
    background-size: contain; 
    transform: scaleX(-1);
    animation-play-state: paused;
}

#fish-4{
    top: 55%;
    left: 100px;
    background: url('Images/fish-4.png') no-repeat;
    background-size: contain; 
    animation-play-state: paused;
}

#fish-5{
    top: 65%;
    left: 100px;
    background: url('Images/fish-5.png') no-repeat;
    background-size: contain; 
    animation-play-state: paused;
}

#fish-6{
    top: 78%;
    left: 100px;
    background: url('Images/fish-6.png') no-repeat;
    background-size: contain; 
    animation-play-state: paused;
}

#fish-7{
    top: 90%;
    left: 100px;
    background: url('Images/fish-7.png') no-repeat;
    background-size: contain; 
    animation-play-state: paused;
}

@keyframes swimandflip {
    0% {
        transform: translateX(-100%) scaleX(1);
    }
    45% {
        transform: translateX(100%) scaleX(1);
    }
    50% {
        transform: translateX(100%);
    }
    55% {
        transform: translateX(100%) scaleX(-1);
    }
    95% {
        transform: translateX(-100%) scaleX(-1);
    }
    100% {
        transform: translateX(-100%) scaleX(1);
    }
}

#fish1check:checked ~ .water > #fish-2 {
    animation-play-state: running;
}
#fish2check:checked ~ .water > #fish-3 {
    animation-play-state: running;
}
#fish3check:checked ~ .water > #fish-4 {
    animation-play-state: running;
}
#fish4check:checked ~ .water > #fish-5 {
    animation-play-state: running;
}
#fish5check:checked ~ .water > #fish-6 {
    animation-play-state: running;
}
#fish6check:checked ~ .water > #fish-7 {
    animation-play-state: running;
}
#fish7check:checked ~ .water > #fish-2 {
    animation-play-state: running;
}



