body {
    margin: 0;
    padding: 0;
    height: 100vh;
    
}

/* BACKGROUND */

.water {
    background: linear-gradient(
        #309f9b,
        #106c72
        );
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    cursor: url('Images/bubbles.png'), auto;
}

.sun-rays {
    position: absolute;
    top: -220vh;
    left: -50vw;
    height: 400vh;
    width: 200vw;
    background: conic-gradient(
        from 0deg, 
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent,
        #80b8ad,
        transparent,
        transparent
    );
    animation: waves 10s infinite alternate;
}

@keyframes waves {
    0% {
        transform: rotate(-4deg);
    }
    100% {
        transform: rotate(4deg);
    }
}

/* FISH, FOOD, REVIVE */

.fish{
    position: absolute;
    width: 100vw;
    height: 20vh;
    left: 20%;
    animation: swimandflip 40s forwards infinite linear;
    cursor: url('Images/feed.png'), auto;
}

#fish-1{
    top: 10%;
    background: url('Images/fish-1.png') no-repeat;
    background-size: contain; 
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

#fish-2{
    top: 20%;
    background: url('Images/fish-2.png') no-repeat;
    background-size: contain; 
    animation-play-state: paused;
    opacity: 0;  
    transition: opacity 0.2s ease-in;
}

#fish-3{
    top: 30%;
    background: url('Images/fish-3.png') no-repeat;
    background-size: contain; 
    transform: scaleX(-1);
    animation-play-state: paused;
    opacity: 0;  
    transition: opacity 0.2s ease-in;
}

#fish-4{
    top: 40%;
    background: url('Images/fish-4.png') no-repeat;
    background-size: contain; 
    animation-play-state: paused;
    opacity: 0;  
    transition: opacity 0.2s ease-in;
}

#fish-5{
    top: 50%;
    background: url('Images/fish-5.png') no-repeat;
    background-size: contain; 
    animation-play-state: paused;
    opacity: 0;  
    transition: opacity 0.2s ease-in;
}

#fish-6{
    top: 60%;
    background: url('Images/fish-6.png') no-repeat;
    background-size: contain; 
    animation-play-state: paused;
    opacity: 0;  
    transition: opacity 0.2s ease-in;
}

#fish-7{
    top: 70%;
    background: url('Images/fish-7.png') no-repeat;
    background-size: contain; 
    animation-play-state: paused;
    opacity: 0;  
    transition: opacity 0.2s ease-in;
}

@keyframes swimandflip {
    0% {
        transform: translateX(-100%) scaleX(1);
    }
    49% {
        transform: translateX(100%) scaleX(1);
    }
    50% {
        transform: translateX(100%) scaleX(-1);
    }
    94% {
        transform: translateX(-100%) scaleX(-1);
    }
    95% {
        transform: translateX(-100%) scaleX(-1);
    }
    100% {
        transform: translateX(-100%) scaleX(1);
    }
}

#food{
    position: absolute;
    width: 20vw;
    height: 20vh;
    bottom: 1vh;
    left: 50vw;
    background: url('Images/food.png') no-repeat;
    background-size: contain;
    opacity: 0;  
    transition: opacity 0.2s ease-in;
}

#revive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 0s ease-in;
    z-index: 100;
    pointer-events: none;
}

/* CHECKBOXES */

/* input {
    display: none;
} */

#fish1check:checked ~ .water > label[for="fish2check"] > #fish-2,
#fish2check:checked ~ .water > label[for="fish3check"] > #fish-3,
#fish3check:checked ~ .water > label[for="fish4check"] > #fish-4,
#fish4check:checked ~ .water > label[for="fish5check"] > #fish-5,
#fish5check:checked ~ .water > label[for="fish6check"] > #fish-6,
#fish6check:checked ~ .water > label[for="fish7check"] > #fish-7,
#revivecheck:checked ~ .water > label[for="fish1check"] > #fish-1 {
    animation-play-state: running;
    opacity: 1;
    pointer-events: all;
}

#fish7check:checked ~ .water > label[for="foodcheck"] > #food,
#foodcheck:checked ~ .water > label[for="revivecheck"] > #revive {
    opacity: 1;
    pointer-events: all;
}

#foodcheck:checked ~ .water > label[for="fish1check"] > #fish-1, 
#foodcheck:checked ~ .water > label[for="fish2check"] > #fish-2,
#foodcheck:checked ~ .water > label[for="fish3check"] > #fish-3,
#foodcheck:checked ~ .water > label[for="fish4check"] > #fish-4,
#foodcheck:checked ~ .water > label[for="fish5check"] > #fish-5,
#foodcheck:checked ~ .water > label[for="fish6check"] > #fish-6,
#foodcheck:checked ~ .water > label[for="fish7check"] > #fish-7 {
    animation-play-state: paused;
    opacity: 0;
    pointer-events: none;
}

#foodcheck:checked ~ .water > label[for="foodcheck"] > #food,
#revivecheck:checked ~ .water > label[for="revivecheck"] > #revive {
    opacity: 0;
    pointer-events: none;
}
