html {

}

body {
    margin: 0;
}

#homepage {
    height: 100%;

}

/* TEXT */
@font-face {
    font-family: 'impact-label';
    src: url('Fonts/Impact Label.ttf') format('truetype');
}
@font-face {
    font-family: 'impact-label-reversed';
    src: url('Fonts/Impact Label Reversed.ttf') format('truetype');
}

h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family:'impact-label-reversed';
    font-size:24px;
    line-height:100%;
    color: #000;
}


/* VISUALS */
.swirl-background-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.swirl-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    transform-origin: center center;
    animation: vortex 30s linear infinite;
    background: repeating-conic-gradient(
        from 0deg,
        #d1d7e0,  /* Pastel Blue */
        #e0b5d7,  /* Pastel Purple */
        #f7e0d1, /* Pastel Yellow */
        #f1f1f1, /* White */
        #f6c3d0 30deg  /* Pastel Pink */
      );
}

@keyframes vortex {
    0% {
        transform: scale(2) rotate(0deg);
    }
    100% {
        transform: scale(4) rotate(360deg);
    }
}




.ascii {
    font: 6px monospace; 
    line-height:9px;
}