html {

}

body {
    margin: 0;
}

#homepage {
    height: 100%;

}



/* GRIDS */
section {
    padding-top: 200px;
  }
  .flexwrapper {
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
.flexwrapper div {
    display: flex;
    width: 25%;
    height: 25%;
    min-width: 200px;
    min-height: 200px;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
  }



/* TEXT */
@font-face {
    font-family: 'impact-label';
    src: url('Fonts/Impact Label.ttf') format('truetype');
}
@font-face {
    font-family: 'impact-label-reversed';
    src: url('Fonts/Impact Label Reversed.ttf') format('truetype');
}

h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family:'impact-label-reversed';
    font-size:24px;
    line-height:100%;
    color: #000;
}

.text-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    transition: 15s;
}

.text-effect:hover {
    top: -10px;
}

.text-effect:nth-child(2):hover {
    top: 10px;
}

/* VISUALS */

/* gradient swirl */
#gradientwrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background: conic-gradient(black 0%, black 10%, white 10%, white 20%, black 20%, black 30%, white 30%, white 40%, black 40%, black 50%, white 50%, white 60%, black 60%, black 70%, white 70%, white 80%, black 80%, black 90%, white 90%, white 100%); */
  }
  #firstgradient{
    position: absolute;
    left: -150vw;
    top: -30vw;
    width: 400vw;
    height: 200vw;
    /* background: conic-gradient(black 0%, black 10%, white 10%, white 20%, black 20%, black 30%, white 30%, white 40%, black 40%, black 50%, white 50%, white 60%, black 60%, black 70%, white 70%, white 80%, black 80%, black 90%, white 90%, white 100%); */
    animation: rotate 30s infinite linear;
  }
  .gradientinner{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    background: repeating-conic-gradient(
        from 0deg,
        /* #f1f1f1,  */
        #e0b5d7,  /* Pastel Purple */
        #f7e0d1, /* Pastel Yellow */
        #d1d7e0,  /* Pastel Blue */
        #f6c3d0 180deg  /* Pastel Pink */
      );    
    animation: rotate 50s infinite linear;
    transform-origin: center;
  }
  @keyframes rotate {
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg)}
  }

/* printing, a ditto device */
#ditto-wrapper {
  position: absolute;
  background:#000;
  width: 300px;
  height: 500px;
}
#ditto-text{
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 15px;
  color: #f1f1f1;
  left: 100px;
  line-height: 200%;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
#ditto-wrapper:hover > #ditto-text {
  animation: typing 5s steps(40) forwards;
}
@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

/* inevitability */
#inevitability-wrapper {
  position: absolute;
  background:#000;
  width: 300px;
  height: 500px;
}
#nose-image{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('Images/nose-image.png');
  background-size: cover;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
#inevitability-wrapper:hover > #nose-image{
  opacity: 0;
}
#inevitability-text{
  position: relative;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: right;
  color: #f1f1f1;
  right: 30px;
  top: 70px;
  line-height: 100%;
  white-space: nowrap;
}

/* age of anxiety */
#strobe {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  animation: strobe .5s infinite;
}

@keyframes strobe {
  0%, 50% {
    background-color: blue;
  }
  25% {
    background-color: yellow;
  }
  75% {
    background-color: red;
  }
}

.book-wrapper {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
  perspective: 1200px;
  transform: rotate(0deg);
  transition: transform 1s ease-in-out;
}

.book{
  width: 300px;
  height: 300px;
  position: relative;
}

.book.left {
  background: url('Images/book-left.png') no-repeat left/cover;
  transform-origin: right;
  transform: rotateY(0deg);
  transition: transform 1s ease-in-out;
}

.book.right {
  background: url('Images/book-right.png') no-repeat left/cover;
  transform-origin: left;
  transform: rotateY(0deg);
  transition: transform 1s ease-in-out;
}

.book-wrapper:hover > .book.left {
  transform: rotateY(90deg);
  /* transform: rotate(90deg) */
}

.book-wrapper:hover > .book.right {
  transform: rotateY(-90deg);
  /* transform: rotate(90deg) */
}

.book-wrapper:hover {
  transform: rotate(90deg)
}

/* eye */
#eye {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.14);
  border-radius: 100% 0px;
  transform: rotate(45deg); 
}
#iris {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: brown;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#pupil {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* clothing */
.ascii {
    font: 6px monospace; 
    line-height:9px;
}