html {

}

body {
    margin: 0;
}

#homepage {
    height: 100%;

}



/* GRIDS */
section {
    padding-top: 200px;
  }
  .flexwrapper {
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
.flexwrapper div {
    display: flex;
    width: 25%;
    height: 25%;
    min-width: 200px;
    min-height: 200px;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
  }



/* TEXT */
@font-face {
    font-family: 'impact-label';
    src: url('Fonts/Impact Label.ttf') format('truetype');
}
@font-face {
    font-family: 'impact-label-reversed';
    src: url('Fonts/Impact Label Reversed.ttf') format('truetype');
}

h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family:'impact-label-reversed';
    font-size:24px;
    line-height:100%;
    color: #000;
}

.text-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    transition: 15s;
}

.text-effect:hover {
    top: -10px;
}

.text-effect:nth-child(2):hover {
    top: 10px;
}

/* VISUALS */
#gradientwrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background: conic-gradient(black 0%, black 10%, white 10%, white 20%, black 20%, black 30%, white 30%, white 40%, black 40%, black 50%, white 50%, white 60%, black 60%, black 70%, white 70%, white 80%, black 80%, black 90%, white 90%, white 100%); */
  }
  #firstgradient{
    position: absolute;
    left: -150vw;
    top: -30vw;
    width: 400vw;
    height: 200vw;
    /* background: conic-gradient(black 0%, black 10%, white 10%, white 20%, black 20%, black 30%, white 30%, white 40%, black 40%, black 50%, white 50%, white 60%, black 60%, black 70%, white 70%, white 80%, black 80%, black 90%, white 90%, white 100%); */
    animation: rotate 30s infinite linear;
  }
  .gradientinner{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    background: repeating-conic-gradient(
        from 0deg,
        /* #f1f1f1,  */
        #e0b5d7,  /* Pastel Purple */
        #f7e0d1, /* Pastel Yellow */
        #d1d7e0,  /* Pastel Blue */
        #f6c3d0 180deg  /* Pastel Pink */
      );    
    animation: rotate 50s infinite linear;
    transform-origin: center;
  }
  @keyframes rotate {
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg)}
  }










.ascii {
    font: 6px monospace; 
    line-height:9px;
}